name: Paradigm WindowsAppSDK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install dependencies
      run: dotnet restore ./src/Paradigm.WindowsAppSDK.slnx
    - name: Build
      run: dotnet build ./src/Paradigm.WindowsAppSDK.slnx --configuration Release --no-restore
    - name: Test
      run: dotnet test ./src/Paradigm.WindowsAppSDK.slnx --no-restore --verbosity normal
